// compress: true

@import "vars";

// Button
@import "button";


html{
    font-size: 15px; 
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: @black;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


// Blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/works";
@import "blocks/about";
@import "blocks/review";
@import "blocks/blog";



